<div class="container">
  <div class="row">
    <form class="col-sm-12 offset-sm-2" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field class="col-sm-4">
          <input matInput placeholder="First Name" formControlName="fname">
          <mat-error *ngIf="form.get('fname').invalid && form.get('fname').touched">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4">
          <input matInput placeholder="Last Name" formControlName="lname">
          <mat-error *ngIf="form.get('lname').invalid && form.get('lname').touched">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-4">
          <span matPrefix>+375 &nbsp;</span>
          <input type="tel" matInput placeholder="Telephone" formControlName="phone">
          <mat-icon matSuffix>mode_edit</mat-icon>
          <mat-error *ngIf="form.get('phone').invalid && form.get('phone').touched">
            Phone number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="col-sm-4">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="form.get('email').hasError('email') && !form.get('email').hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="form.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-sm-8">
          <input matInput #message maxlength="60" placeholder="Message" formControlName="message">
          <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 60</mat-hint>
          <mat-error *ngIf="form.get('message').invalid && form.get('message').touched">
            Message is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <button mat-raised-button color="primary" type="submit" style="margin-top: 20px" [disabled]="form.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <form class="col s12" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" formControlName="fname">
          <label for="first_name">First Name</label>
          <span *ngIf="form.get('fname').invalid && form.get('fname').touched" style="color: red">Это поле обязательно для заполнения.</span>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" formControlName="lname">
          <label for="last_name">Last Name</label>
          <span *ngIf="form.get('lname').invalid && form.get('lname').touched" style="color: red">Это поле обязательно для заполнения.</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="phone" type="text" class="validate" formControlName="phone">
          <label for="phone">Phone</label>
          <span *ngIf="form.get('phone').invalid && form.get('phone').touched" style="color: red">Это поле обязательно для заполнения.</span>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate" formControlName="email">
          <label for="email">Email</label>
          <span *ngIf="form.get('email').invalid && form.get('email').touched" style="color: red">
            <span *ngIf="form.get('email').errors.required">Это поле обязательно для заполнения.</span>
            <span *ngIf="form.get('email').errors.email">Введите корректный email.</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea2" class="materialize-textarea" data-length="60" formControlName="message"></textarea>
          <label for="textarea2">Message</label>
          <span *ngIf="form.get('message').invalid && form.get('message').touched" style="color: red">
              <span *ngIf="form.get('message').errors.required">Это поле обязательно для заполнения.</span>
              <span *ngIf="form.get('message').errors.maxlength">Введедено слишком длинное сообщение.</span>
            </span>
        </div>
      </div>
      <button 
        class="btn waves-effect waves-light" 
        type="submit" 
        name="action"
        [disabled]="form.invalid"
      >Submit
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div> -->